<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Narsingh Vatika
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-explore-container name="Add Events"></app-explore-container> -->
  <ion-list>
    <ion-item>
      <ion-label>Customer Name :-</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Customer Number :-</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item button="true" id="open-date-input" lines="full">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{ dateValue }}</ion-text>
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime #popoverDatetime presentation="date"
            (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label>Package</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="silver">Silver</ion-select-option>
        <ion-select-option value="gold">Gold</ion-select-option>
        <ion-select-option value="platinum">Platinum</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Amount :-</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Remarks :-</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Catering</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <br>
    <ion-button expand="block" color="primary">Save</ion-button>
  </ion-list>
</ion-content>