ion-toolbar.toolbar {
    .toolbar-background{
        background: #225F93;
      }
  }

.divClass{
  background-color: aqua;

}
//   ion-toolbar.toolbar,
// ion-navbar.toolbar {
//   .toolbar-background{
//     background: #225F93;
//   }
//   .searchbar .searchbar-input {
//     background: #fff;
//   }
// }
.order-list-label{
  color: #898989;
}
.ion-content {
    background-color: aqua;
  
  }