<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Narsingh Vatika
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <!-- <app-explore-container name="Galary"></app-explore-container> -->
  <div>
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
  </div>
  <div>
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
  </div>
  <div>
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    &nbsp;&nbsp;
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
  </div>
</ion-content>